.header {
    display: flex;
    align-items: center;
}

.header-container2 {
    display: flex;
}

.header-container {
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
}

.fas {
    color: #373736;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~nav {
    display: block;
}

nav {
    position: absolute;
    background-color: #F9F9F9;
}

nav a {
    display: block;
    padding: 1rem 5rem;
}

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

.logo {
    max-width: 200px;
}

body {
    background-color: #F9F9F9;
    color: #373736;
}

h1 {
    font-size: 3rem;
}

h3 {
    text-align: center;
}

.header-nav {
    font-size: 1.25em;
    font-family: 'Bebas Neue', sans-serif;

}

.button-sign-up {
    background-color: #70158F;
    color: #F9F9F9;
}

.button-sign-in {
    background-color: #F9F9F9;
    color: #373736;
    border-color: #70158F;
}

.search {
    background-color: #F9F9F9;
    color: #919191;
}

input.search {
    width: 260px;
    border: 1px solid #131313;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("../Images/search.256x256.png") no-repeat 1px;
    background-size: contain;
}

.container-movies-frontpage {
    display: flex;
    justify-content: center;


}

.container-movies-frontpage img {
    min-width: 100px;
    max-width: 300px;
    object-fit: cover;
}



.intro {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04rem;
}

.cta-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #70158F;
    color: #F9F9F9;
    font-size: (3rem);
    font-family: 'Bebas Neue', sans-serif;
    padding: 10px;
    text-decoration: none;

}